{% extends 'base.html' %}

{% block content %}
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <form class="w-75" method="POST" class="mt-4">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="survey_id" class="form-label">Select a Survey:</label>
                                <select class="form-select" name="survey_id">
                                    {% for survey in surveys %}
                                        <option value="{{ survey.id }}">{{ survey.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="business_name" class="form-label">Business Name:</label>
                                <input type="text" class="form-control" name="business_name">
                            </div>
                            <div class="mb-3">
                                <label for="phone_number" class="form-label">Phone Number:</label>
                                <input type="text" class="form-control" name="phone_number">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email">
                            </div>

                            {% for survey in surveys %}
                                {% for question in survey.question_set.all %}
                                    <div class="mb-3">
                                        <label>{{ question.question }}</label>
                                        <input type="text" class="form-control" name="question_{{ question.id }}">
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
