{% extends 'website/../base.html' %}


{% block content %}
    <main>

        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row d-flex justify-content-lg-between">
                    <!-- Inner intro title -->
                    <div class="col-lg-7 mx-auto mb-8 text-center">
                        <div class="position-relative">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none"/>
                                <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                            </svg>
                        </div>
                        <h1 class="display-5">Thank you!</h1>
                        <p class="lead">We appreciate that you’ve taken the time to fill out our survey. We’ll get back to you very
                            soon to schedule a meeting regarding the website. Please come back and see us often.</p>
                        <a href="{% url 'website:home' %}" class="btn btn-line btn-primary mt-3">Back to home</a>
                    </div>
                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Inner intro END -->


    </main>
{% endblock %}