{% extends 'website/base.html' %}

{% block content %}
    <main>

        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row d-flex justify-content-lg-between">
                    <!-- Inner intro title -->
                    <div class="col-xl-8">
                        <h1 class="display-4 text-primary">We're here to transform things.</h1>
                        <p class="lead">Agency that cares <a href="#" class="text-dark"><u>about customers</u></a>. We
                            deliver unique and measurable campaigns that connect with target audiences and encourage
                            your business growth. We have built a <a href="#" class="text-dark"><u>robust team</u></a>
                            which is capable of delivering <a href="#" class="text-dark"><u>best quality of services</u></a>
                            when it comes to website design, Website development.</p>
                    </div>
                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        About START -->
        <section class="p-0">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-md-10 position-relative">
                        <img class="w-100" src="assets/images/banner/02.jpg" alt="About image">
                        <div class="position-absolute bottom-0 end-0 p-4 m-4 bg-white">
                            <h3><i class="bi bi-person-plus"></i> Early career</h3>
                            <a class="text-dark" href="#"><u>Take your first step to a career with us</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        About END -->

        <!-- =======================
        Features START -->
        <section class="pt-9 mt-n6 bg-dark">
            <div class="container">
                <div class="row">
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">01</h3>
                            <h4 class="text-white">Innovative and Inspiring</h4>
                        </div>
                        <p>For who thoroughly her boy estimating conviction. Removed demands expense account in outward
                            tedious do. Particular way thoroughly unaffected projection favorable Mrs can be projecting
                            own.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">02</h3>
                            <h4 class="text-white">Years of Experience</h4>
                        </div>
                        <p>Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility
                            domestic had but. Drawings offended yet answered Jennings perceive laughing six did
                            far. </p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">03</h3>
                            <h4 class="text-white">Top-Quality Services</h4>
                        </div>
                        <p>Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter
                            raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">04</h3>
                            <h4 class="text-white">No Long Span Agreements!</h4>
                        </div>
                        <p>Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man
                            children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners
                            savings staying had.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">05</h3>
                            <h4 class="text-white">24/7/365 Support</h4>
                        </div>
                        <p>Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs.
                            Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving
                            breakfast am or perfectly.</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- =======================
        Features END -->

        <!-- =======================
        History START -->
        <section>
            <div class="container" data-sticky-container>
                <div class="row justify-content-between">
                    <div class="col-md-5 mb-5">
                        <div data-sticky data-margin-top="80" data-sticky-for="767">
                            <h2>A brief history, from the beginning</h2>
                            <p>This timeline shows the evolution of website designing since 1989 to 2014 and
                                beyond. </p>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative ms-4 ms-md-0">
                        <!-- Vertical border -->
                        <div class="position-absolute start-0 top-0 border-start border-dotted border-dark h-100 ms-1"></div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1989</span></h6>
                            <h4>The dark ages of web design</h4>
                            <p>The very beginning of web design was pretty dark, as screens were literally black amet
                                consectetur adipisicing elit. Blanditiis, nostrum maxime. Officiis, voluptate, eius,
                                facere illum libero magni quasi reprehenderit illo tempore voluptatem animi perferendis
                                aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1995</span></h6>
                            <h4>Tables – The beginning</h4>
                            <p>The birth of browsers that could display images was the first step into web design as we
                                know it. Amet consectetur adipisicing elit. Blanditiis, nostrum maxime. Officiis,
                                voluptate, eius, facere illum libero magni quasi reprehenderit illo tempore voluptatem
                                animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1995</span></h6>
                            <h4>JavaScript comes to the rescue</h4>
                            <p>JavaScript was the answer to the limitations of HTML. A consectetur adipisicing elit.
                                Blanditiis, nostrum maxime. Officiis, voluptate, eius, facere illum libero magni quasi
                                reprehenderit illo tempore voluptatem animi perferendis aspernatur tempora quo sunt
                                cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1998</span></h6>
                            <h4>CSS </h4>
                            <p>Around the same time as Flash, a better approach to structuring design from a technical
                                standpoint was born – Cascading Style Sheets (CSS). Blanditiis, nostrum maxime.
                                Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit illo tempore
                                voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">2010</span></h6>
                            <h4>Responsive web design</h4>
                            <p>A brilliant guy named Ethan Marcotte decided to challenge adipisicing elit. Blanditiis,
                                nostrum maxime. Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit
                                illo tempore voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">2014</span></h6>
                            <h4>The bright future</h4>
                            <p>The holy grail of web design has been consectetur adipisicing elit. Blanditiis, nostrum
                                maxime. Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit illo
                                tempore voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        History END -->

        <!-- =======================
        Info boxes START -->
        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h3 class="mb-5">Outreach by the Numbers:</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- Info box item -->
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="h-100 bg-dark p-4 text-center">
                            <i class="bi bi-people display-5 opacity-7 text-primary"></i>
                            <h3 class="text-white">200+</h3>
                            <p>Developers, designers and marketing experts</p>
                        </div>
                    </div>
                    <!-- Info box item -->
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="h-100 bg-light p-4 text-center">
                            <i class="bi-patch-check display-5 opacity-5 text-primary"></i>
                            <h3>80+</h3>
                            <p>Magento certified developers</p>
                        </div>
                    </div>
                    <!-- Info box item -->
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="h-100 bg-primary p-4 text-center">
                            <i class="bi bi-award display-5 opacity-7 text-dark"></i>
                            <h3 class="text-white">91%</h3>
                            <p class="text-white">Of certified IT professionals</p>
                        </div>
                    </div>
                    <!-- Info box item -->
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="h-100 bg-white border p-4 text-center">
                            <i class="bi bi-cash-stack display-5 opacity-5 text-primary"></i>
                            <h3>18M</h3>
                            <p>Revenue generate in 2 years</p>
                        </div>
                    </div>
                </div><!-- row END -->
            </div>
        </section>
        <!-- =======================
        Info boxes END -->
    </main>
{% endblock %}