{% extends 'website/base.html' %}
{% load  static %}
{% block content %}
    <main>
        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row d-flex justify-content-lg-between">
                    <!-- Inner intro title -->
                    <div class="col-xl-8">
                        <h1 class="display-4 text-primary">We're here to transform things.</h1>
                        <p class="lead">Welcome to Blue Tree Concepts – a harmonious blend of software developers and
                            full-service marketing aficionados who find inspiration in both the digital landscape and
                            the great outdoors. Our journey is driven by a shared passion for innovative technology and
                            the beauty of nature, resulting in a unique approach to crafting exceptional marketing
                            solutions. As devoted software developers, we intricately weave cutting-edge techniques to
                            build seamless digital experiences, while our love for the outdoors fuels our creativity and
                            infuses each project with a breath of fresh air. From captivating web designs to strategic
                            branding and resonant content marketing, we wholeheartedly commit to every facet of your
                            brand. At Blue Tree Concepts, we intertwine the realms of technology and nature to transform
                            your brand's vision into an awe-inspiring reality.</p>
                    </div>
                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

        <!-- =======================
        About START -->
        <section class="p-0">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-md-10 position-relative">
                        <img class="w-100" src="{% static 'images/banner/02.jpg' %}" alt="About image">
                        <div class="position-absolute bottom-0 end-0 p-4 m-4 bg-white">
                            <h3><i class="bi bi-person-plus"></i> Early career</h3>
                            <a class="text-dark" href="{% url 'website:contact' %}"><u>Take your first step to a career
                                with us</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        About END -->

        <!-- =======================
        Features START -->
        <section class="pt-9 mt-n6 bg-dark">
            <div class="container">
                <div class="row">
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">01</h3>
                            <h4 class="text-white">Strategic Campaign Development</h4>
                        </div>
                        <p>A marketing agency specializes in crafting strategic campaigns that align with a client's
                            goals, target audience, and industry trends. From brand positioning to message delivery,
                            they create comprehensive plans to maximize impact.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">02</h3>
                            <h4 class="text-white">Multi-Channel Expertise</h4>
                        </div>
                        <p>These agencies excel in leveraging a variety of marketing channels, such as social media,
                            email, SEO, PPC, and content marketing, to ensure a diverse and effective reach across
                            platforms where the target audience is most active. </p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">03</h3>
                            <h4 class="text-white">Client Collaboration:</h4>
                        </div>
                        <p>Effective communication and collaboration with clients define these agencies. They work
                            closely with clients to understand their vision, provide regular updates, and incorporate
                            feedback, ensuring that the campaigns remain aligned with the client's objectives.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">04</h3>
                            <h4 class="text-white">Data-Driven Insights</h4>
                        </div>
                        <p>Utilizing analytics tools and data analysis, marketing agencies extract valuable insights
                            from consumer behavior and campaign performance. This information guides them in making
                            informed decisions and optimizing strategies for better results.</p>
                    </div>
                    <!-- Feature item -->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">05</h3>
                            <h4 class="text-white">Creative Content Production</h4>
                        </div>
                        <p> Crafting compelling content is a cornerstone of marketing agencies. Whether it's visual
                            designs, videos, blog posts, or infographics, they produce engaging content that resonates
                            with the audience and conveys the client's message effectively.</p>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="d-flex align-items-center">
                            <h3 class="text-white display-6 text-white-stroke opacity-2 me-3">06</h3>
                            <h4 class="text-white">Constant Adaptation</h4>
                        </div>
                        <p> Marketing agencies thrive on staying ahead of industry trends and adapting to changes in the
                            digital landscape. They continuously evolve their strategies to incorporate emerging
                            technologies and shifting consumer preferences, keeping their clients competitive in the
                            market.</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- =======================
        Features END -->

        <!-- =======================
        History START -->
        <section>
            <div class="container" data-sticky-container>
                <div class="row justify-content-between">
                    <div class="col-md-5 mb-5">
                        <div data-sticky data-margin-top="80" data-sticky-for="767">
                            <h2>A brief history, from the beginning</h2>
                            <p>This timeline shows the evolution of website designing since 1989 to 2014 and
                                beyond. </p>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative ms-4 ms-md-0">
                        <!-- Vertical border -->
                        <div class="position-absolute start-0 top-0 border-start border-dotted border-dark h-100 ms-1"></div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1989</span></h6>
                            <h4>The dark ages of web design</h4>
                            <p>The very beginning of web design was pretty dark, as screens were literally black amet
                                consectetur adipisicing elit. Blanditiis, nostrum maxime. Officiis, voluptate, eius,
                                facere illum libero magni quasi reprehenderit illo tempore voluptatem animi perferendis
                                aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1995</span></h6>
                            <h4>Tables – The beginning</h4>
                            <p>The birth of browsers that could display images was the first step into web design as we
                                know it. Amet consectetur adipisicing elit. Blanditiis, nostrum maxime. Officiis,
                                voluptate, eius, facere illum libero magni quasi reprehenderit illo tempore voluptatem
                                animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1995</span></h6>
                            <h4>JavaScript comes to the rescue</h4>
                            <p>JavaScript was the answer to the limitations of HTML. A consectetur adipisicing elit.
                                Blanditiis, nostrum maxime. Officiis, voluptate, eius, facere illum libero magni quasi
                                reprehenderit illo tempore voluptatem animi perferendis aspernatur tempora quo sunt
                                cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">1998</span></h6>
                            <h4>CSS </h4>
                            <p>Around the same time as Flash, a better approach to structuring design from a technical
                                standpoint was born – Cascading Style Sheets (CSS). Blanditiis, nostrum maxime.
                                Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit illo tempore
                                voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 mb-5 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">2010</span></h6>
                            <h4>Responsive web design</h4>
                            <p>A brilliant guy named Ethan Marcotte decided to challenge adipisicing elit. Blanditiis,
                                nostrum maxime. Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit
                                illo tempore voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                        <!-- History item -->
                        <div class="ms-3 position-relative">
                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-circle bg-primary p-2 mt-3 ms-n4"><span
                                    class="d-block rounded-circle bg-white p-2"> </span></span>
                            <h6><span class="badge bg-dark fw-bold pt-2">2014</span></h6>
                            <h4>The bright future</h4>
                            <p>The holy grail of web design has been consectetur adipisicing elit. Blanditiis, nostrum
                                maxime. Officiis, voluptate, eius, facere illum libero magni quasi reprehenderit illo
                                tempore voluptatem animi perferendis aspernatur tempora quo sunt cupiditate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}