{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Pre loader -->

    <main>
        <section class="position-relative pb-0 mt-5 mt-md-7">
            <div class="d-flex justify-content-between">
                <div>
                    <h1 class="display-4 display-md-3 display-lg-1 position-absolute bottom-0 start-0 zoom-3 ms-5 ms-md-9 mb-n2 mb-sm-n3 mb-lg-n5 text-primary">
                        Hello—</h1>
                </div>
                <!-- Top social -->
                <ul class="me-5 mb-4 list-unstyled d-none d-xl-flex align-items-center">
                    <li><span>Follow us: </span></li>
                    <li><a class="text-dark text-primary-hover display-9 px-3" href="#"><i
                            class="fab fa-facebook-f"></i></a></li>
                    <li><a class="text-dark text-primary-hover display-9 px-3" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a class="text-dark text-primary-hover display-9 ps-3" href="#"><i
                            class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </section>

        <section class="bg-primary position-relative overflow-hidden">
            <!-- Shape Decoration START -->
            <!-- Shape 1 -->
            <div class="position-absolute start-0 bottom-0 w-100 zoom-2">
                <div class="bg-dark-overlay-dotted py-4"></div>
            </div>
            <!-- Shape 2 -->
            <figure class="position-absolute end-0 top-0 mt-n5 me-n8 d-none d-lg-block">
                <svg width="390" height="304" viewBox="0 0 218 170" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-dark"
                          d="m143.6 25.1c-5.9-5.6-10.9-12.2-17.8-16.5-13.7-8.6-33.5-5.4-43.8 7-3.9 4.6-6.4 10.2-9.5 15.4-8.4 14-21.1 25-29.9 38.7s-13 32.7-3.4 45.9c9.7 13.4 28.8 15.4 41.7 25.6 6.3 5.1 10.9 12.1 16.9 17.6 19 17.3 52.5 14.6 68.6-5.4 9.9-12.4 13.4-29.3 24.8-40.4 4-3.9 8.9-6.9 12.8-10.9 5.1-5.2 8.4-12 10.8-19 3.1-9.3 4.7-19.6 1.4-28.8-5.7-16-18.7-15.9-32.5-14.4-15 1.8-29.4-4.6-40.1-14.8z"/>
                    <path class="svg-custom-border-white" d="m17.8 72.7c3.9-3.3 8.1-6.2 12.6-8.8"/>
                    <path class="svg-custom-border-white" d="m18 86.5c4.1-2.9 8.5-5.5 13-7.8"/>
                    <path class="svg-custom-border-white" d="m33.3 93c4.6-2.3 9-5.1 13.1-8.3"/>
                    <path class="svg-custom-border-white" d="m47.6 66.8c3.9-1.8 7.6-4.1 10.9-6.8"/>
                    <path class="svg-custom-border-white" d="m73.7 55.5c3-1.6 5.9-3.2 8.9-4.8"/>
                    <path class="svg-custom-border-white" d="m67.7 69.1c3.4-2.5 7-4.6 10.8-6.4"/>
                    <path class="svg-custom-border-white" d="m64.8 80.5c4.5-2.2 8.9-4.8 13.1-7.7"/>
                    <path class="svg-custom-border-white" d="m71.4 93.6c3.8-1.6 7.4-3.6 10.7-5.9"/>
                    <path class="svg-custom-border-white" d="m70.2 121.5c3.6-2.1 7.2-4.3 10.8-6.4"/>
                    <path class="svg-custom-border-white" d="m54.2 119.2c3.4-2.4 6.7-4.7 10.1-7.1"/>
                    <path class="svg-custom-border-white" d="m36.9 114.9c3.4-2.3 6.8-4.7 10.2-7"/>
                    <path class="svg-custom-border-white" d="m51.1 99.5c2.4-2.7 5.3-5.1 8.4-7"/>
                    <path class="svg-custom-border-white" d="m7.7 121.4c4-2.6 7.9-5.1 11.9-7.7"/>
                    <path class="svg-custom-border-white" d="m17.8 132.7c2.6-1.8 5.2-3.5 7.8-5.3"/>
                    <path class="svg-custom-border-white" d="m21.4 154.1c4.4-3 8.9-6.1 13.3-9.1"/>
                    <path class="svg-custom-border-white" d="m48.8 140.6c2.6-1.9 5.2-3.9 7.8-5.8"/>
                    <path class="svg-custom-border-white" d="m44 158.9c3.1-1.1 6-2.9 8.5-5.1"/>
                    <path class="svg-custom-border-white" d="m67.8 146.5c4.5-2.4 8.8-5.4 12.5-8.9"/>
                    <path class="svg-custom-border-white" d="m73.4 156.1c2.4-1 4.6-2.4 6.6-4.1"/>
                    <path class="svg-custom-border-white" d="m83.3 98.9c2.6-1.8 5.1-3.6 7.7-5.4"/>
                </svg>
            </figure>
            <!-- Who we are text right -->
            <div class="position-absolute top-50 start-0 translate-middle ms-8 d-none d-lg-block">
                <h1 class="display-2 text-dark-stroke rotate-270 text-uppercase opacity-2">Who we are</h1>
            </div>
            <!-- Shape Decoration END -->

            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-10">
                        <!-- Welcome text -->
                        <div class="h2 display-6 text-white mb-6" data-fx="1">Welcome to our world. We're folio, <a
                                href="#!" class="text-white-stroke" data-img="{% static 'images/about/04.jpg' %}">a creative
                            digital agency<sup class="fas fa-link display-9"></sup>.</a> We offer various types of <a
                                href="#!" class="text-white-stroke" data-img="{% static 'images/about/05.jpg' %}">digital
                            services<sup class="fas fa-link display-9"></sup>.</a></div>
                        <!-- Our team text -->
                        <div class="h2 display-6 text-white mb-6" data-fx="1">We help <a href="#!"
                                                                                         class="text-white-stroke"
                                                                                         data-img="{% static 'images/about/13.jpg' %}">our
                            clients<sup class="fas fa-link display-9"></sup></a> start, sustain, and grow their
                            business.
                        </div>
                        <!-- Contact text -->
                        <div class="h2 display-6 text-white mb-6" data-fx="1">Whether you’ve got a quick concern or want
                            to run through the details of your next big project, we can help. <a href="#!"
                                                                                                 class="text-white-stroke"
                                                                                                 data-img="{% static 'images/about/11.jpg' %}">Let's
                                chat now.<sup class="fas fa-link display-9"></sup></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <!-- About us -->
                <div class="row d-flex justify-content-md-between">
                    <div class="col-md-7 col-lg-7">
                        <span class="font-alt fw-normal display-8 d-block mb-3">We are creating smart websites.</span>
                        <h2 class="display-8">Many folks can make it to the finish line, but the Folio is the way
                            special. Want to build something now that lasts? We're here.</h2>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <img class="rounded" src="{% static 'images/about/06.jpg' %}" alt="">
                    </div>
                </div>
                <!-- About more -->
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <img class="rounded mt-5 mt-lg-0" src="{% static 'images/about/10.jpg' %}" alt="">
                    </div>
                    <div class="col-md-7 col-lg-5">
                        <p class="mt-5">We ❤️ to achieve the goal as we provide innovative ideas, designs, and
                            multimedia solutions to our clients. We help our customers better manage their web presence
                            in order to achieve greater. Partnering with 500+ Fortune companies and mid-sized firms
                            across enterprises, uniquely customized and scalable workforce solutions. </p>
                        <a href="#" class="btn btn-line text-dark">Explore more</a>
                    </div>
                </div>
                <!-- Our mission & vision -->
                <div class="row d-flex justify-content-md-between">
                    <div class="col-md-7">
                        <h2 class="mt-5 mt-lg-8">Our mission & vision</h2>
                        <p class="lead">We are an insight and behavior-driven creative marketing agency. A Full package
                            Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand
                            Strategy, Content Marketing and Aerial Cinematography.</p>
                        <a href="#" class="btn btn-line text-dark">Explore more</a>
                        <div class="row mt-5">
                            <!-- Box 1 -->
                            <div class="col-12 col-md-4 mb-2">
                                <div class="bg-light p-4 text-center h-100">
                                    <img class="px-lg-4" src="{% static 'images/clients/google.svg' %}" alt="">
                                    <div class="small my-2">Google rating</div>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star-half-alt text-warning me-1"></i></li>
                                        <li><i class="far fa-star text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Box 1 -->
                            <div class="col-12 col-md-4 mb-2">
                                <div class="bg-light p-4 text-center h-100">
                                    <img class="px-lg-4" src="{% static 'images/clients/clutch.svg' %}" alt="">
                                    <div class="small my-2">Top rated</div>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Box 1 -->
                            <div class="col-12 col-md-4 mb-2">
                                <div class="bg-light p-4 text-center h-100">
                                    <img class="px-lg-4" src="{% static 'images/clients/freelancer.svg' %}" alt="">
                                    <div class="small my-2">100+ Feedbacks</div>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star text-warning me-1"></i></li>
                                        <li><i class="fas fa-star-half-alt text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img class="rounded mt-5 mt-lg-n5" src="{% static 'images/about/07.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}