{% load static %}
<div id="about" class="container-fluid bg-dark pt-5 mt-5 d-flex justify-content-center align-items-center flex-column"
     >
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column pb-5">
            <h1 class="text-light">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column">
            <p class="text-light col-6 p-2">
                Welcome to MC Data Trends, a dynamic marketing agency founded by Mark Domeracki. With a rich background
                in both software development and marketing, we combine the power of data-driven insights with innovative
                marketing strategies. Our mission is to unlock your brand's true potential by staying ahead of industry
                trends, leveraging cutting-edge technology, and delivering impactful campaigns that drive measurable
                results. At MC Data Trends, we pride ourselves on creating data-powered narratives that engage audiences
                and elevate businesses to the forefront of their respective markets. Join us on this journey of growth
                and success as we embark on a data-driven revolution for your brand.
            </p>
        </div>
    </div>
</div>

