{% load static %}
<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column pb-5">
            <h1 class="display-6 text-light">Where design meets functionality.</h1>
            <a href="#" class="btn-outline-light btn">Get in touch</a>
        </div>
        <div class="col-md-6 p-0 m-0">
            <img class="img-fluid w-100" src="{% static 'images/website-6692147_640.png' %}" alt="website build">
        </div>
    </div>
</div>