<footer class="bg-dark footer-sticky pt-6">
    <div class="container">
        <div class="row">

            <!-- Footer Widget 1 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="text-white">Blue Tree Concepts<span class="text-primary">.</span></h3>
                <p>Elevating brands through strategic creativity and innovation.</p>
                <div class="d-flex me-auto">
                    <h6 class="mt-2 me-4 text-white">Follow on:</h6>
                    <div class="list-group-inline list-unstyled text-primary-hover">
                        <a href="#" class="list-group-item text-white bg-transparent">Fb</a>
                        <a href="#" class="list-group-item text-white bg-transparent">Tw</a>
                        <a href="#" class="list-group-item text-white bg-transparent">Dr</a>
                    </div>
                </div>
            </div>
            <!-- Footer Widget 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="mb-4 text-white">Useful links</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:services' %}">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link pt-0" href="{% url 'website:about' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Widget 4 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="mb-4 text-white">Stay in touch</h5>
                <form>
                    <label class="form-label">Subscribe to our newsletter to receive exclusive offers.</label>
                    <div class="mb-3">
                        <input class="form-control" type="email" placeholder="Enter email...">
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="Subscribe" class="btn btn-primary mb-0">Join us</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- Divider -->
        <div class="divider-light opacity-1"></div>

        <!-- Footer copyright START -->
        <div class="row align-items-center justify-content-md-between py-4">
            <div class="col-md-12">
                <div class="text-center text-md-start">©2023 <a href="https://www.bluetreeconcepts.io/" target="_blank">Blue Tree Concepts</a>.
                    All rights reserved
                </div>
            </div>
        </div>
        <!-- Footer copyright END -->
    </div>
</footer>