<div id="services" class="container-fluid pt-5 pb-5">
    <div class="row pt-3">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="display-6 col-6 text-center">A digital studio creating experiences that work.</h1>
        </div>
        <div class="row pt-5">
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-center">Brand</h4>
                <ul class="list-unstyled text-muted">
                    <li class="py-1 text-center">Brand Strategy</li>
                    <li class="py-1 text-center">Visual Identity</li>
                    <li class="py-1 text-center">Rebranding</li>
                    <li class="py-1 text-center">Research & Analytics</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-center">Content</h4>
                <ul class="list-unstyled text-muted">
                    <li class="py-1 text-center">Copy Writing</li>
                    <li class="py-1 text-center">Motion Graphics</li>
                    <li class="py-1 text-center">Illustrations</li>
                    <li class="py-1 text-center">Photo & Video</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-center">Solutions</h4>
                <ul class="list-unstyled text-muted">
                    <li class="py-1 text-center">Web Design</li>
                    <li class="py-1 text-center">Web Development</li>
                    <li class="py-1 text-center">Web Applications</li>
                    <li class="py-1 text-center">Ecommerce</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-center">Connections</h4>
                <ul class="list-unstyled text-muted">
                    <li class="py-1 text-center">Digital marketing strategies</li>
                    <li class="py-1 text-center">SEO/SEA</li>
                    <li class="py-1 text-center">Social Media</li>
                    <li class="py-1 text-center">Email Marketing</li>
                </ul>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center mt-3">
            <a href="#" class="btn-outline-dark btn btn-lg">Contact us for more info</a>
        </div>
    </div>

</div>